教务指定使用课本（不分专业）/大学物理学·电磁学·光学·量子物理-第4版-张三慧-清华大学出版社-9787302509844.pdf filter=lfs diff=lfs merge=lfs -text
教务指定使用课本（不分专业）/跨文化交际实用教程-第1版-胡超-外语教学与研究出版社-9787521317572.pdf filter=lfs diff=lfs merge=lfs -text
教务指定使用课本（不分专业）/大学物理学·力学·热学-第4版-张三慧-清华大学出版社-9787302509806.pdf filter=lfs diff=lfs merge=lfs -text
教务指定使用课本（不分专业）/电路分析与电子电路基础-第1版-刘刚-高等教育出版社-9787040334470.pdf filter=lfs diff=lfs merge=lfs -text
教务指定使用课本（不分专业）/物理学教程·下-第3版-马文蔚-高等教育出版社-9787040437515.pdf filter=lfs diff=lfs merge=lfs -text
