大学物理学·电磁学·光学·量子物理-第4版-张三慧-清华大学出版社-9787302509844.pdf filter=lfs diff=lfs merge=lfs -text
大学物理学·力学·热学-第4版-张三慧-清华大学出版社-9787302509806.pdf filter=lfs diff=lfs merge=lfs -text
物理学教程·下-第3版-马文蔚-高等教育出版社-9787040437515.pdf filter=lfs diff=lfs merge=lfs -text
